<div class="container mt-5">
    <div class="row align-items-center justify-content-center">
        <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
            <div class="card p-4 shadow-sm">
                <h3 class="text-center mb-4">Edit Story</h3>
                <form #form="ngForm" (ngSubmit)="onSubmit()">
                    <div class="form-group mb-4">
                        <label for="storyNameFormControl">Name of Story:</label>
                        <input type="text" class="form-control" id="storyNameFormControl" name="storyName" [(ngModel)]="storyM.name"
                               placeholder="e.g., The Great Adventure" #storyNameCheck="ngModel" maxlength=50 required>
                        <div [hidden]="storyNameCheck.valid" class="alert alert-danger my-2" role="alert">This field is required!</div>
                    </div>

                    <div class="form-group mb-4">
                        <label for="storyGenreFormControl">Genre:</label>
                        <input type="text" class="form-control" id="storyGenreFormControl" name="storyGenre" [(ngModel)]="storyM.genre"
                               placeholder="e.g., Fantasy, Mystery" #storyGenreCheck="ngModel" maxlength=50 required>
                        <div [hidden]="storyGenreCheck.valid" class="alert alert-danger my-2" role="alert">This field is required!</div>
                    </div>

                    <div class="form-group mb-4">
                        <label for="storyDescriptionFormControl">Description:</label>
                        <angular-editor [(ngModel)]="storyM.description" [config]="editorConfig" name="storyDescription" #storyDescriptionCheck="ngModel"></angular-editor>
                        <div [hidden]="storyDescriptionCheck.valid" class="alert alert-danger my-2" role="alert">This field is required!</div>
                    </div>

                    <div class="form-group mb-4">
                        <label for="actualStoryFormControl">Actual Story:</label>
                        <angular-editor [(ngModel)]="storyM.actualStory" [config]="editorConfig" name="actualStory" #actualStoryCheck="ngModel"></angular-editor>
                        <div [hidden]="actualStoryCheck.valid" class="alert alert-danger my-2" role="alert">This field is required!</div>
                    </div>

                    <div class="form-group mb-4">
                        <label for="storyImageFormControl">Book Cover Image (optional):</label>
                        <input class="d-none" type="file" (change)="fileInput.files && selectFile(fileInput.files)" #fileInput>
                        <button type="button" class="btn btn-primary" (click)="fileInput.click()">Choose</button>
                    </div>

                    <button type="submit" class="btn btn-primary buttonSubmit" [disabled]="!form.valid">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
