<div class="row align-items-center justify-content-center">
    <div class="col-a col-sm-b col-md-c col-lg-d col-xl-e">
        <p class="text-left"><em>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Welcome to StoryVerse, a vibrant platform where users can log in and immerse themselves in a world of stories. Our application ensures a seamless and secure experience:
            <ul>
                <li> Users can register and log in with email verification to ensure the validity of their email addresses. If you need to recover your password, an email option is available for quick recovery.</li>
                <li> Upon logging in, you'll find yourself on the main page showcasing various stories. Each story comes with details, descriptions, the full text, and a captivating cover image.</li>
                <li> Built using Angular, .NET, and MongoDB, StoryVerse allows you to create stories, upload cover images from your computer, and subscribe to your favorite stories.</li>
                <li> Users can add reviews to stories, edit or delete their reviews, and engage with other readers and writers through our chat functionality.</li>
                <li> Authors can access a statistics page, where they can view review scores, the number of chat messages, and the count of subscribers.</li>
                <li> On the user profile page, you can change your password, first name, and last name. You can also view your subscriptions, the stories you have reviewed, and the stories you have written (with options to update or delete them). Additionally, you have the ability to delete your account.</li>
                <li> Our text editor supports various text styles and colors, enhancing your creativity in story descriptions and content.</li>
            </ul>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Our mission at StoryVerse is to stimulate creativity and provide a dynamic space for storytelling. We believe in the power of stories to connect people and inspire creativity, fostering a community where every voice is heard and valued.
            <br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Join us on StoryVerse and embark on an exciting journey of storytelling, connection, and discovery. Your story awaits!
        </em></p>

    </div>
</div>
