<div class="row align-items-center justify-content-center">
    <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">

        <form #form="ngForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="storyNameFormControl">Numele evenimentului:</label>
                <input type="text" class="form-control" id="storyNameFormControl" name="storyName" [(ngModel)]="storyM.name"
                    placeholder="ex: Concert zilele orașului" #storyNameCheck="ngModel" maxlength=50 required>
                <div [hidden]="storyNameCheck.valid" class="alert alert-danger my-2" role="alert">Câmpul pentru nume
                    este
                    obligatoriu!</div>
            </div>

            <div class="form-group">
                <label for="storyStartDateFormControl">Data la care începe evenimentul:</label>
                <input type="date" class="form-control" id="storyStartDateFormControl" name="storyStartDate"
                    [(ngModel)]="startDate" #storyStartDateCheck="ngModel" required>
                <div [hidden]="storyStartDateCheck.valid" class="alert alert-danger my-2" role="alert">Câmpul pentru
                    data de început este obligatoriu!</div>
            </div>

            <div class="form-group">
                <label for="storyEndDateFormControl">Data la care se termină evenimentul:</label>
                <input type="date" class="form-control" id="storyEndDateFormControl" name="storyEndDate" [(ngModel)]="endDate"
                    #storyEndDateCheck="ngModel" required>
                <div [hidden]="storyEndDateCheck.valid" class="alert alert-danger my-2" role="alert">Câmpul pentru data
                    de sfârșit este obligatoriu!</div>
            </div>

            <div class="form-group">
                <label for="storyLocationFormControl">Locația unde are loc evenimentul:</label>
                <input type="text" class="form-control" id="storyLocationFormControl" name="storyLocation" [(ngModel)]="storyM.location"
                    placeholder="ex: Iași, Piața Unirii" #storyLocationCheck="ngModel" maxlength=50 required>
                <div [hidden]="storyLocationCheck.valid" class="alert alert-danger my-2" role="alert">Câmpul pentru
                    locație este obligatoriu!</div>
            </div>

            <div class="form-group">
                <label for="storyDescriptionFormControl">Descrierea evenimentului:</label>
                <textarea class="form-control" id="storyDescriptionFormControl" name="storyDescription" [(ngModel)]="storyM.description"
                    placeholder="cât mai relevantă, maxim 1000 de caractere" #storyDescriptionCheck="ngModel" rows=10
                    maxlength=10000 required></textarea>
                <div [hidden]="storyDescriptionCheck.valid" class="alert alert-danger my-2" role="alert">Câmpul pentru
                    descriere este obligatoriu!</div>
            </div>

            <div class="form-group">
                <label for="storyUrlFormControl">Adresa către site-ul evenimentului:</label>
                <input type="url" class="form-control" id="storyUrlFormControl" name="storyUrl" [(ngModel)]="storyM.url"
                    placeholder="ex: http//www.primariaiasi/concert" #storyUrlCheck="ngModel" maxlength=2000 required>
                <div [hidden]="storyUrlCheck.valid" class="alert alert-danger my-2" role="alert">Este obligatoriu să adăugați o adresă web!</div>
            </div>

            <div class="form-group">
                <label for="storyImageFormControl">Imagine (optional):&emsp;</label>
                <input class="d-none" type="file" (change)="fileInput.files && selectFile(fileInput.files.toString())" #fileInput>
                <button type="button" class="btn btn-primary" (click)="fileInput.click()">Alege</button>
            </div>

            <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Submit</button>
        </form>

    </div>
</div>