<div class="btn-group m-0" role="group">
    <a routerLink="/story-search/{{pageSize}}/{{pageId-1}}/{{searchText}}" class="btn btn-primary" [ngClass]="{'disabled':prevBtnDisabled}">&lt;&lt;&lt;</a>
    <button type="button" class="btn btn-secondary disabled">Stories</button>
    <a routerLink="/story-search/{{pageSize}}/{{pageId+1}}/{{searchText}}" class="btn btn-primary" [ngClass]="{'disabled':nextBtnDisabled}">&gt;&gt;&gt;</a>
</div>

<div class="row">
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4" *ngFor="let story of stories">
        <div class="card my-3 story">
            <img [src]="getImageUrl(story.image)" class="card-img-top" alt="Book Cover">
            <div class="card-body">
                <h5 class="card-title">{{story.name}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{story.dateCreated}}</h6>
                <h6 class="card-subtitle mb-2 text-muted">{{story.genre}}</h6>
                <h6 class="card-subtitle mb-2 text-muted">{{story.author}}</h6> 
                <img *ngIf="story.authorAvatarUrl" [src]="story.authorAvatarUrl" alt="Author Avatar" class="author-avatar">
                <button type="button" class="btn btn-primary" [routerLink]="['/story-details', story.id]">Details</button>
            </div>
        </div>
    </div>
    
</div>

<br>

<div class="btn-group m-0" role="group">
    <a routerLink="/story-search/{{pageSize}}/{{pageId-1}}/{{searchText}}" class="btn btn-primary" [ngClass]="{'disabled':prevBtnDisabled}">&lt;&lt;&lt;</a>
    <button type="button" class="btn btn-secondary disabled">Stories</button>
    <a routerLink="/story-search/{{pageSize}}/{{pageId+1}}/{{searchText}}" class="btn btn-primary" [ngClass]="{'disabled':nextBtnDisabled}">&gt;&gt;&gt;</a>
</div>
