<div class="btn-group m-0" role="group">
    <a *ngIf="!prevBtnDisabled" [routerLink]="['/story-search', pageSize, pageId - 1, searchText]" class="btn btn-primary">
        &lt;&lt;&lt;
    </a>
    <a *ngIf="prevBtnDisabled" class="btn btn-primary disabled" tabindex="-1" aria-disabled="true">
        &lt;&lt;&lt;
    </a>
    <button type="button" class="btn btn-secondary disabled">Stories</button>
    <a *ngIf="!nextBtnDisabled" [routerLink]="['/story-search', pageSize, pageId + 1, searchText]" class="btn btn-primary">
        &gt;&gt;&gt;
    </a>
    <a *ngIf="nextBtnDisabled" class="btn btn-primary disabled" tabindex="-1" aria-disabled="true">
        &gt;&gt;&gt;
    </a>
</div>

<div class="row">
    <div class="story col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 mb-4" *ngFor="let story of stories">
        <div class="card h-100">
            <img [src]="getImageUrl(story.image)" class="card-img-top" alt="Book Cover">
            <div class="card-body">
                <h5 class="card-title">{{story.name}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{story.dateCreated}}</h6>
                <h6 class="card-subtitle mb-2 text-muted">{{story.genre}}</h6>
                <h6 class="card-subtitle mb-2 text-muted">{{story.author}}</h6> 
                <img *ngIf="story.authorAvatarUrl" [src]="story.authorAvatarUrl" alt="Author Avatar" class="author-avatar">
                <button type="button" class="btn btn-primary" [routerLink]="['/story-details', story.id]">Details</button>
            </div>
        </div>
    </div>
</div>

<br>

<div class="btn-group m-0" role="group">
    <a *ngIf="!prevBtnDisabled" [routerLink]="['/story-search', pageSize, pageId - 1, searchText]" class="btn btn-primary">
        &lt;&lt;&lt;
    </a>
    <a *ngIf="prevBtnDisabled" class="btn btn-primary disabled" tabindex="-1" aria-disabled="true">
        &lt;&lt;&lt;
    </a>
    <button type="button" class="btn btn-secondary disabled">Stories</button>
    <a *ngIf="!nextBtnDisabled" [routerLink]="['/story-search', pageSize, pageId + 1, searchText]" class="btn btn-primary">
        &gt;&gt;&gt;
    </a>
    <a *ngIf="nextBtnDisabled" class="btn btn-primary disabled" tabindex="-1" aria-disabled="true">
        &gt;&gt;&gt;
    </a>
</div>