<div class="featured-stories-container">
  <h2>Featured Stories</h2>
  <div class="story-card" *ngIf="highestRated">
    <h3>Highest Rated Story</h3>
    <div class="story-details">
      <img [src]="getImageUrl(highestRated.image)" class="card-img-top" alt="Book Cover">
      <div class="story-info">
        <p>{{ highestRated.name }}</p>
        <p class="author">by {{ highestRated.author }}</p>
        <div [innerHTML]="sanitizeContent(highestRated.description)"></div>
      </div>
    </div>
  </div>
  <div class="story-card" *ngIf="mostSubscribed">
    <h3>Most Subscribed Story</h3>
    <div class="story-details">
      <img [src]="getImageUrl(mostSubscribed.image)" class="card-img-top" alt="Book Cover">
      <div class="story-info">
        <p>{{ mostSubscribed.name }}</p>
        <p class="author">by {{ mostSubscribed.author }}</p>
        <div [innerHTML]="sanitizeContent(mostSubscribed.description)"></div>
      </div>
    </div>
  </div>
  <div class="story-card" *ngIf="mostBookmarked">
    <h3>Most Bookmarked Story</h3>
    <div class="story-details">
      <img [src]="getImageUrl(mostBookmarked.image)" class="card-img-top" alt="Book Cover">
      <div class="story-info">
        <p>{{ mostBookmarked.name }}</p>
        <h6 class="author">{{mostBookmarked.author}}</h6> 
        <div [innerHTML]="sanitizeContent(mostBookmarked.description)"></div>
      </div>
    </div>
  </div>
</div>
