<div class="featured-stories-container">
  <h2>Featured Stories</h2>
  <div class="category" *ngIf="highestRated.length > 0">
    <h3>Highest Rated Stories</h3>
    <div class="story-card" *ngFor="let story of highestRated">
      <div class="story-details">
        <img [src]="getImageUrl(story.image)" class="card-img-top" alt="Book Cover">
        <div class="story-info">
          <p>{{ story.name }}</p>
          <p class="author">by {{ story.author }}</p>
          <div [innerHTML]="sanitizeContent(story.description)"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="category" *ngIf="mostSubscribed.length > 0">
    <h3>Most Subscribed Stories</h3>
    <div class="story-card" *ngFor="let story of mostSubscribed">
      <div class="story-details">
        <img [src]="getImageUrl(story.image)" class="card-img-top" alt="Book Cover">
        <div class="story-info">
          <p>{{ story.name }}</p>
          <p class="author">by {{ story.author }}</p>
          <div [innerHTML]="sanitizeContent(story.description)"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="category" *ngIf="mostBookmarked.length > 0">
    <h3>Most Bookmarked Stories</h3>
    <div class="story-card" *ngFor="let story of mostBookmarked">
      <div class="story-details">
        <img [src]="getImageUrl(story.image)" class="card-img-top" alt="Book Cover">
        <div class="story-info">
          <p>{{ story.name }}</p>
          <p class="author">by {{ story.author }}</p>
          <div [innerHTML]="sanitizeContent(story.description)"></div>
        </div>
      </div>
    </div>
  </div>
</div>
